<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div th:fragment="application_confirmation" class="container-fluid sc-hidden" id="div-application-confirmation">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">Application Confirmation</div>

            <div class="panel-body">
              <p>Your application has been accepted by the university.</p>
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <th class="text-right">Username</th>
                  <td id="confirm-username-id" class="text-left"></td>
                </tr>
                <tr>
                  <th class="text-right">Password</th>
                  <td id="confirm-password-id" class="text-left"></td>
                </tr>
                </tbody>
              </table>

              <a th:href="@{/login}" type="button" class="btn btn-info pull-right">Proceed</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</body>
</html>