<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" content="text/html" />
<title>Admission Form</title>
</head>
<body>
	<h1>Form</h1>
    <div class="row">
        <h4 style="margin-left:0px; ">Step-1 (Academic Information)</h4>

        <form action="http://just.ambersoftwaresolutions.com/index.php/applicant/step_one_action" class="login" method="post" accept-charset="utf-8">


            <div class="col-sm-6 col-md-6 col-lg-6 p-0">
                <div class="panel panel-default">
                    <div class="panel-heading">SSC or Equivalent</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label  class="col-lg-4 control-label">Board</label>
                            <div class="col-lg-8 form-group">
                                <select name="ssc_board" id="ssc_board" class="form-control">
                                    <option value="">Select Board</option>
                                    <option value="1">Barisal</option>
                                    <option value="2">Chittagong</option>
                                    <option value="3">Comilla</option>
                                    <option value="4">Dhaka</option>
                                    <option value="5">Dinajpur</option>
                                    <option value="6">Jessore</option>
                                    <option value="7">Rajshahi</option>
                                    <option value="8">Sylhet</option>
                                    <option value="9">Madrasah</option>
                                    <option value="10">Technical</option>
                                </select>
                                <div class="error_id"> </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-lg-4 control-label">Roll No</label>
                            <div class="col-lg-8 form-group">
                                <input type="number" pattern="\d*" name="ssc_rollno" class="form-control" value="" autocomplete="off"/>
                                <div class="error_id"> </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-lg-4 control-label">Registration No.</label>
                            <div class="col-lg-8 form-group">
                                <input type="number" pattern="\d*" name="ssc_registration_no" class="form-control"  value="" autocomplete="off"/>
                                <div class="error_id"> </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Passing Year</label>
                            <div class="col-lg-8 form-group">
                                <select name="ssc_passing_year" id="" class="form-control">
                                    <option value="">Select Year</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                </select>
                                <div class="error_id"> </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">HSC or Equivalent</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label  class="col-lg-4 control-label">Board</label>
                            <div class="col-lg-8 form-group">
                                <select name="hsc_board" class="form-control">
                                    <option value="">Select Board</option>
                                    <option value="1">Barisal</option>
                                    <option value="2">Chittagong</option>
                                    <option value="3">Comilla</option>
                                    <option value="4">Dhaka</option>
                                    <option value="5">Dinajpur</option>
                                    <option value="6">Jessore</option>
                                    <option value="7">Rajshahi</option>
                                    <option value="8">Sylhet</option>
                                    <option value="9">Madrasah</option>
                                    <option value="10">Technical</option>

                                </select>
                                <div class="error_id"> </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Roll No</label>
                            <div class="col-lg-8 form-group">
                                <input type="number" pattern="\d*" name="hsc_rollno" class="form-control"  value="" autocomplete="off"/>
                                <div class="error_id"> </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Registration No</label>
                            <div class="col-lg-8 form-group">
                                <input type="number" pattern="\d*" name="hsc_registration_no" class="form-control"  value="" autocomplete="off"/>
                                <div class="error_id"> </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label  class="col-lg-4 control-label">Passing Year</label>
                            <div class="col-lg-8 form-group">
                                <select name="hsc_passing_year" class="form-control">
                                    <option value="">Select Year</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                                <div class="error_id"> </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding: 10px 0;">
                <div class="form-group">
                    <label  class="col-lg-2 control-label">Quota (if any)</label>
                    <div class="col-lg-10">
                        <div class="radio-inline">
                            <label><input name="quota" type="radio" value="1" autocomplete="off"/>Freedom Fighter </label>
                        </div>
                        <div class="radio-inline">
                            <label><input name="quota" type="radio" value="2" autocomplete="off"/>Tribal (SEQ)</label>
                        </div>
                        <div class="radio-inline">
                            <label><input name="quota" type="radio" value="3" autocomplete="off"/>Disabled</label>
                        </div>
                        <div class="radio-inline">
                            <label><input name="quota" type="radio" value="4" autocomplete="off"/>WQ(POSSHO)</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <p class="error_id text" style="font-size:14px;font-weight: 600;">If you have applied previously, enter your profile for the application to a new unit. Improvement candidates will choose Passing Year of their Improvement Result. If all the information required by an applicant is not available in the database provided by the education board, or if the information does not comply, please submit enquiry  any time or call us 8801727220169 / 09611444451 (09:00 AM to 08:00 PM) .</p>
                </div>
                <div class="col-lg-2"><button class="btn btn-lg btn-primary pull-right" style="margin-right:15px;">NEXT</button></div>

            </div>
        </form>
    </div>
</body>
</html>