<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::layout_header(~{::title}, ~{}, ~{::script})">
    <title>Apply</title>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        var studentInfo;

        var setConfirmationPanel=function(response_obj){
            $('#user_name_id').html(response_obj.userName);
            $('#confirmation_password_id').html(response_obj.password);
        };

        var submitApplication = function () {
            var unit_list = [];
            unit_list = $('input[type=checkbox][class=unit]:checked').map(function(_, el) { return $(el).val(); }).get();
            var request = {
                "name": studentInfo.name,
                "fatherName": studentInfo.fatherName,
                "motherName": studentInfo.motherName,
                "sscInfo": {
                    "board": studentInfo.sscInfo.board,
                    "roll": studentInfo.sscInfo.roll,
                    "regNo": studentInfo.sscInfo.regNo,
                    "passingYear": studentInfo.sscInfo.passingYear,
                    "gpa": studentInfo.sscInfo.gpa,
                    "group": studentInfo.sscInfo.group
                },
                "hscInfo": {
                    "board": studentInfo.hscInfo.board,
                    "roll": studentInfo.hscInfo.roll,
                    "regNo": studentInfo.hscInfo.regNo,
                    "passingYear": studentInfo.hscInfo.passingYear,
                    "gpa": studentInfo.hscInfo.gpa,
                    "group": studentInfo.hscInfo.group
                },
                "quota": $('input[name=quota]:checked').val(),
                "email": studentInfo.personal_info.emial,
                "mobile": studentInfo.personal_info.mobile,
                "unitList": unit_list,
                "password": studentInfo.personal_info.password
            };
            $.ajax({
                url: '/academic/registration',
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(request),
                success: function (response) {
                    console.log(response);
                    setConfirmationPanel(response);
                    $('#application_preview_div').hide();
                    $('#application_confirmation_div').show();
                },
                error: function (response) {
                    console.log('error');
                },
                complete: function () {

                }
            });
        };

        var appendTOApplicationDiv = function () {
            $('#application_email_id').html(studentInfo.personal_info.emial);
            $('#application_contact_id').html(studentInfo.personal_info.mobile);
            $('#applicant_name_id').html(studentInfo.name);
            $('#father_name_id').html(studentInfo.fatherName);
            $('#mother_name_id').html(studentInfo.motherName);
            $('#quota_id').html($('input[name=quota]:checked').val());
            $('<tr>' +
                '<td>' + 'SSC' + '</td>' +
                '<td>' + studentInfo.sscInfo.board + '</td>' +
                '<td>' + studentInfo.sscInfo.roll + '</td>' +
                '<td>' + studentInfo.sscInfo.passingYear + '</td>' +
                '<td>' + studentInfo.sscInfo.group + '</td>' +
                '<td>' + studentInfo.sscInfo.gpa + '</td>' +
                '</tr>').appendTo("#appalication_academic_id");
            $('<tr>' +
                '<td>' + 'HSC' + '</td>' +
                '<td>' + studentInfo.hscInfo.board + '</td>' +
                '<td>' + studentInfo.hscInfo.roll + '</td>' +
                '<td>' + studentInfo.hscInfo.passingYear + '</td>' +
                '<td>' + studentInfo.hscInfo.group + '</td>' +
                '<td>' + studentInfo.hscInfo.gpa + '</td>' +
                '</tr>').appendTo("#appalication_academic_id");
            var total_fees = 0;
            var selectedUnitIdList = $('input[type=checkbox][class=unit]:checked').map(function(_, el) {
                return $(el).val();
            }).get();
            for (var itr = 0; itr < studentInfo.unitInfo.length; itr++) {
                var id = studentInfo.unitInfo[itr].id.toString();
                if(selectedUnitIdList.includes(id)){
                    $('<tr>' +
                            '<td>' + studentInfo.unitInfo[itr].unitName + '</td>' +
                            '<td>' + studentInfo.unitInfo[itr].unitDescription + '</td>' +
                            '<td>' + parseInt(studentInfo.unitInfo[itr].fees) + '</td>' +
                            '</tr>').appendTo("#application_unit_info_id");
                    total_fees = total_fees + parseInt(studentInfo.unitInfo[itr].fees);
                }
            }
            $('<tr>' +
                '<td colspan="2">' + 'Total' + '</td>' +
                '<td>' + total_fees + '</td>' +
                '</tr>').appendTo("#application_unit_info_id");
        };

        var showDetails = function () {
            var personal_info = {
                "mobile": $("#mobile_no").val(),
                "emial": $("#email_id").val(),
                "password": $("#password_id").val()
            };
            studentInfo["personal_info"] = personal_info;
            console.log(studentInfo);
            $("#personal_info_div").hide();
            appendTOApplicationDiv();
            $('#application_preview_div').show();
        };

        var makeUnitTable = function () {
            for (var itr = 0; itr < studentInfo.unitInfo.length; itr++) {
                $('<tr>' +
                    '<td><input type="checkbox" class="unit" value="' + studentInfo.unitInfo[itr].id + '"/></td>' +
                    '<td>' + studentInfo.unitInfo[itr].unitName + '</td>' +
                    '<td>' + studentInfo.unitInfo[itr].unitDescription + '</td>' +
                    '<td>' + studentInfo.unitInfo[itr].fees + '</td>' +
                    '</tr>').appendTo("#unit_list_table");
            }
        };

        var getPersonalInfo = function () {
            var selectedUnitList = $('input[type=checkbox][class=unit]:checked').map(function(_, el) {
                return $(el).val();
            }).get();
            if(selectedUnitList.length > 0){
                $("#unit_list_div").hide();
                $("#personal_info_div").show();
            } else{
                showErrorMessage('You have to select at least one unit for next step')
            }
        };

        var showErrorMessage = function(msg) {
            var divElement = $('#error-info-div');
            divElement.removeClass();
            divElement.addClass('alert alert-danger');
            divElement.empty().text(msg);
            divElement.show();
            divElement.delay(5000).fadeOut('slow');
        };

        var fetchAcademicData = function () {
            var request = {
                "securityCode": 68545,
                "sscInformation": {
                    "board": $('#ssc_board :selected').text(),
                    "roll": $('#ssc_rollno').val(),
                    "regNo": $('#ssc_registration_no').val(),
                    "passingYear": $('#ssc_passing_year :selected').text()
                },
                "hscInformation": {
                    "board": $('#ssc_board :selected').text(),
                    "roll": $('#hsc_rollno').val(),
                    "regNo": $('#hsc_registration_no').val(),
                    "passingYear": $('#hsc_passing_year :selected').text()
                }
            };

            $.ajax({
                url: '/academic/validate-info',
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(request),
                success: function (response) {
                    studentInfo = response;
                    console.log(studentInfo);
                    makeUnitTable();
                    $("#academic_info_div").hide();
                    $("#unit_list_div").show();
                },
                error: function (response) {
                    console.log('error');
                },
                complete: function () {

                }
            });
        };

        /*]]>*/
    </script>
</head>

<body>

<nav th:replace="layout::layout_nav(1)">
</nav>

<div id="unitId" th:include="academic_info :: academic_info">
</div>

<footer th:replace="layout::layout_footer">
</footer>

</body>
</html>