<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        var studentInfo;

        var showDetails = function () {
            var personal_info = {
                "mobile": $("#mobile_no").val(),
                "emial": $("#email_id").val(),
                "password": $("#password_id").val()
            };
            studentInfo["personal_info"] = personal_info;
            console.log(studentInfo);
        };

        var makeUnittable = function () {
            for (var itr = 0; itr < studentInfo.admissionInfo.length; itr++) {
                $('<tr>' +
                    '<td>' + studentInfo.admissionInfo[itr].unitName + '</td>' +
                    '<td>' + studentInfo.admissionInfo[itr].unitDescription + '</td>' +
                    '<td>' + studentInfo.admissionInfo[itr].fees + '</td>' +
                    '</tr>').appendTo("#unit_list_table");
            }
        };

        var getPersonalInfo = function () {
            $("#unit_list_div").hide();
            $("#personal_info_div").show();
        };

        var fetchAcadenicData = function () {
            var request = {
                "securityCode": 68545,
                "sscInformation": {
                    "board": $('#ssc_board :selected').text(),
                    "roll": $('#ssc_rollno').val(),
                    "regNo": $('#ssc_registration_no').val(),
                    "passingYear": $('#ssc_passing_year :selected').text()
                },
                "hscInformation": {
                    "board": $('#ssc_board :selected').text(),
                    "roll": $('#hsc_rollno').val(),
                    "regNo": $('#hsc_registration_no').val(),
                    "passingYear": $('#hsc_passing_year :selected').text()
                }
            };

            $.ajax({
                url: '/academic/validate-info',
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(request),
                success: function (response) {
                    studentInfo = response;
                    console.log(studentInfo);
                    makeUnittable();
                    $("#academic_info_div").hide();
                    $("#unit_list_div").show();
                },
                error: function (response) {
                    console.log('error');
                },
                complete: function () {

                }
            });
        };
        /*]]>*/
    </script>
</head>
<body>

<div th:include="header :: header">
    &copy;
</div>
<div style="margin: auto;">
    <div id="unitId" th:include="academic_info :: academic_info">
        &copy;
    </div>
</div>
<div th:include="footer :: footer">
    &copy;
</div>
</body>
</html>