<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        var studentInfo;

        var setConfirmationPanel=function(response_obj){
            $('#user_name_id').html(response_obj.userName);
            $('#confirmation_password_id').html(response_obj.password);
        };

        var submitApplication = function () {
            var unit_list=[];
            for (var itr = 0; itr < studentInfo.admissionInfo.length; itr++) {
                unit_list.push(studentInfo.admissionInfo[itr].id);
            }
            var request = {
                "name": studentInfo.name,
                "fatherName": studentInfo.fatherName,
                "motherName": studentInfo.motherName,
                "sscInfo": {
                    "board": studentInfo.sscInfo.board,
                    "roll": studentInfo.sscInfo.roll,
                    "regNo": studentInfo.sscInfo.regNo,
                    "passingYear": studentInfo.sscInfo.passingYear,
                    "gpa": studentInfo.sscInfo.gpa,
                    "group": studentInfo.sscInfo.group
                },
                "hscInfo": {
                    "board": studentInfo.hscInfo.board,
                    "roll": studentInfo.hscInfo.roll,
                    "regNo": studentInfo.hscInfo.regNo,
                    "passingYear": studentInfo.hscInfo.passingYear,
                    "gpa": studentInfo.hscInfo.gpa,
                    "group": studentInfo.hscInfo.group
                },
                "quota": null,
                "email": studentInfo.personal_info.emial,
                "mobile": studentInfo.personal_info.mobile,
                "unitList": unit_list,
                "password": studentInfo.personal_info.password
            };
            $.ajax({
                url: '/academic/registration',
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(request),
                success: function (response) {
                    console.log(response);
                    setConfirmationPanel(response);
                    $('#application_preview_div').hide();
                    $('#application_confirmation_div').show();
                },
                error: function (response) {
                    console.log('error');
                },
                complete: function () {

                }
            });
        };

        var appendTOApplicationDiv = function () {
            $('#application_email_id').html(studentInfo.personal_info.emial);
            $('#application_contact_id').html(studentInfo.personal_info.mobile);
            $('#applicant_name_id').html(studentInfo.name);
            $('#father_name_id').html(studentInfo.fatherName);
            $('#mother_name_id').html(studentInfo.motherName);
            $('<tr>' +
                '<td>' + 'SSC' + '</td>' +
                '<td>' + studentInfo.sscInfo.board + '</td>' +
                '<td>' + studentInfo.sscInfo.roll + '</td>' +
                '<td>' + studentInfo.sscInfo.passingYear + '</td>' +
                '<td>' + studentInfo.sscInfo.group + '</td>' +
                '<td>' + studentInfo.sscInfo.gpa + '</td>' +
                '</tr>').appendTo("#appalication_academic_id");
            $('<tr>' +
                '<td>' + 'HSC' + '</td>' +
                '<td>' + studentInfo.hscInfo.board + '</td>' +
                '<td>' + studentInfo.hscInfo.roll + '</td>' +
                '<td>' + studentInfo.hscInfo.passingYear + '</td>' +
                '<td>' + studentInfo.hscInfo.group + '</td>' +
                '<td>' + studentInfo.hscInfo.gpa + '</td>' +
                '</tr>').appendTo("#appalication_academic_id");
            var total_fees = 0;
            for (var itr = 0; itr < studentInfo.admissionInfo.length; itr++) {
                $('<tr>' +
                    '<td>' + studentInfo.admissionInfo[itr].unitName + '</td>' +
                    '<td>' + studentInfo.admissionInfo[itr].unitDescription + '</td>' +
                    '<td>' + parseInt(studentInfo.admissionInfo[itr].fees) + '</td>' +
                    '</tr>').appendTo("#appalication_unit_info_id");
                total_fees = total_fees + parseInt(studentInfo.admissionInfo[itr].fees);
            }
            $('<tr>' +
                '<td colspan="2">' + 'Total' + '</td>' +
                '<td>' + total_fees + '</td>' +
                '</tr>').appendTo("#appalication_unit_info_id");
        };

        var showDetails = function () {
            var personal_info = {
                "mobile": $("#mobile_no").val(),
                "emial": $("#email_id").val(),
                "password": $("#password_id").val()
            };
            studentInfo["personal_info"] = personal_info;
            console.log(studentInfo);
            $("#personal_info_div").hide();
            appendTOApplicationDiv();
            $('#application_preview_div').show();
        };

        var makeUnittable = function () {
            for (var itr = 0; itr < studentInfo.admissionInfo.length; itr++) {
                $('<tr>' +
                    '<td><input id="checkBox" type="checkbox"/></td>' +
                    '<td>' + studentInfo.admissionInfo[itr].unitName + '</td>' +
                    '<td>' + studentInfo.admissionInfo[itr].unitDescription + '</td>' +
                    '<td>' + studentInfo.admissionInfo[itr].fees + '</td>' +
                    '</tr>').appendTo("#unit_list_table");
            }
        };

        var getPersonalInfo = function () {
            $("#unit_list_div").hide();
            $("#personal_info_div").show();
        };

        var fetchAcadenicData = function () {
            var request = {
                "securityCode": 68545,
                "sscInformation": {
                    "board": $('#ssc_board :selected').text(),
                    "roll": $('#ssc_rollno').val(),
                    "regNo": $('#ssc_registration_no').val(),
                    "passingYear": $('#ssc_passing_year :selected').text()
                },
                "hscInformation": {
                    "board": $('#ssc_board :selected').text(),
                    "roll": $('#hsc_rollno').val(),
                    "regNo": $('#hsc_registration_no').val(),
                    "passingYear": $('#hsc_passing_year :selected').text()
                }
            };

            $.ajax({
                url: '/academic/validate-info',
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(request),
                success: function (response) {
                    studentInfo = response;
                    console.log(studentInfo);
                    makeUnittable();
                    $("#academic_info_div").hide();
                    $("#unit_list_div").show();
                },
                error: function (response) {
                    console.log('error');
                },
                complete: function () {

                }
            });
        };
        /*]]>*/
    </script>
</head>

<body>

<div th:include="header :: header">&copy;
</div>

<div id="unitId" th:include="academic_info :: academic_info">&copy;
</div>

<div th:include="footer :: footer">&copy;
</div>

</body>
</html>