<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="row">
    <form action="" class="login"  accept-charset="utf-8">
        <div class="form-group">
            <label  class="col-lg-4 control-label">Mobile Number</label>
            <div class="col-lg-8 form-group">
                <input type="number" pattern="\d*" id="mobile_no" name="mobile_no" class="form-control" value="" autocomplete="off"/>
                <div class="error_id"> </div>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-lg-4 control-label">Retype Mobile Number</label>
            <div class="col-lg-8 form-group">
                <input type="number" pattern="\d*" id="retype_mobile_no" name="retype_mobile_no" class="form-control" value="" autocomplete="off"/>
                <div class="error_id"> </div>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-lg-4 control-label">Email</label>
            <div class="col-lg-8 form-group">
                <input type="number" pattern="\d*" id="email_id" name="email_id" class="form-control" value="" autocomplete="off"/>
                <div class="error_id"> </div>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-lg-4 control-label">Password</label>
            <div class="col-lg-8 form-group">
                <input type="number" pattern="\d*" id="passwprd_id" name="passwprd_id" class="form-control" value="" autocomplete="off"/>
                <div class="error_id"> </div>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-lg-4 control-label">Retype Password</label>
            <div class="col-lg-8 form-group">
                <input type="number" pattern="\d*" id="retype_passwprd_id" name="retype_passwprd_id" class="form-control" value="" autocomplete="off"/>
                <div class="error_id"> </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>