<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div th:fragment="unit_list">
    <div>
        <table class="table table-bordered">
            <tr>
                <th> #</th>
                <th> Unit</th>
                <th> Name</th>
                <th> Fees</th>
            </tr>
            <tr th:each="row : ${studentInfo}">
                <td><input id="checkBox1" type="checkbox"/></td>
                <td th:text="${row.admissionInfo.unitName}"></td>
                <td th:text="${row.admissionInfo.unitDescription}"></td>
                <td th:text="${row.admissionInfo.fees}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>