<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::layout_header(~{::title}, ~{}, ~{::script})">
    <title>Admin Dashboard</title>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/



        /*]]>*/
    </script>
</head>

<body>

<nav th:replace="layout::layout_nav(10)">
</nav>
<div class="container">
    <div class="row">
        <h5 class="bold">Applicant information</h5>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
                <img src="../static/images/login-photo.png" th:src="@{/images/login-photo.png}" th:if="${profile.imageData == null}"
                     class="avatar img-thumbnail" alt="avatar" style="max-width: 70%"/>
                <img id="image" src="" th:src="@{${'data:image/jpeg;base64,' + T(com.progoti.surecash.admission.utility.Constants).getBase64ImageData(profile.imageData)}}"
                     th:if="${profile.imageData != null}"
                     class="avatar img-thumbnail" alt="avatar" style="max-width: 70%" />
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                <table class="table table-bordered">
                    <tr>
                        <th>Applicant Name</th>
                        <td class="text-center">:</td>
                        <td th:text="${#strings.toUpperCase(profile.name)}"></td>
                    </tr>
                    <tr>
                        <th>Father`s Name</th>
                        <td class="text-center">:</td>
                        <td th:text="${#strings.toUpperCase(profile.fatherName)}"></td>
                    </tr>
                    <tr>
                        <th>Mother`s Name</th>
                        <td class="text-center">:</td>
                        <td th:text="${#strings.toUpperCase(profile.motherName)}"></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                <table class="table table-bordered">
                    <tr>
                        <th>Status</th>
                        <td class="text-center">:</td>
                        <td>ACTIVE</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td class="text-center">:</td>
                        <td th:text="${profile.email}"></td>
                    </tr>
                    <tr>
                        <th>Contact Number</th>
                        <td class="text-center">:</td>
                        <td th:text="${profile.contactNo}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h5 class="bold">Academic information</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Exam</th>
                            <th>Board</th>
                            <th>Roll</th>
                            <th>Year</th>
                            <th>Group</th>
                            <th>GPA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SSC/EQUIVALENT</td>
                            <td th:text="${#strings.toUpperCase(student.sscBoard)}"></td>
                            <td th:text="${student.sscRoll}"></td>
                            <td th:text="${student.sscPassingYear}"></td>
                            <td th:text="${#strings.toUpperCase(student.sscGroup)}"></td>
                            <td th:text="${#numbers.formatDecimal(student.sscGPA, 1, 'COMMA', 2, 'POINT')}"></td>
                        </tr>
                        <tr>
                            <td>HSC/EQUIVALENT</td>
                            <td th:text="${#strings.toUpperCase(student.hscBoard)}"></td>
                            <td th:text="${student.hscRoll}"></td>
                            <td th:text="${student.hscPassingYear}"></td>
                            <td th:text="${#strings.toUpperCase(student.hscGroup)}"></td>
                            <td th:text="${#numbers.formatDecimal(student.hscGPA, 1, 'COMMA', 2, 'POINT')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h5 class="bold">Unit information</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Unit</th>
                            <th>Disciplines</th>
                            <th>Application Id</th>
                            <th>Quota</th>
                            <th>Fees(BDT)</th>
                            <th>Payment Status</th>
                            <th>Transaction Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="applicant, itr: ${applicationList}">
                            <td th:text="${itr.count}"></td>
                            <td th:text="${#strings.toUpperCase(applicant.unit.code)}"></td>
                            <td th:text="${#strings.toUpperCase(applicant.unit.name)}"></td>
                            <td th:text="${applicant.applicationId}"></td>
                            <td th:text="${#strings.toUpperCase(applicant.quota ?: 'NONE')}"></td>
                            <td th:text="${#numbers.formatDecimal(applicant.payableAmount, 1, 'COMMA', 2, 'POINT')}"></td>
                            <td class="text-center">
                                <span class="badge alert-danger" th:if="${applicant.paid == null || !applicant.paid}">DUE</span>
                                <span class="badge alert-success" th:if="${applicant.paid != null && applicant.paid}">PAID</span>
                            </td>
                            <td th:text="${applicant.tranxId ?: ''}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<footer th:replace="layout::layout_footer">
</footer>

</body>
</html>