<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::layout_header(~{::title}, ~{::link}, ~{::script})">
    <title>Unit Details</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $('#applicant-table').DataTable(
                    {
                        "aLengthMenu": [25, 50, 75, "All"],
                        "iDisplayLength": 50
                    }
            );
        });


        /*]]>*/
    </script>
</head>

<body>
<!-- <nav th:replace="layout::admin_layout_nav(${university}, null)">
</nav> -->
<nav th:replace="layout::layout_nav(1)">
</nav>
<div class="container">
    <div class="row col-md-12">
        <table id="applicant-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>#</th>
                <th>Applicant Id</th>
                <th>Applicant Name</th>
                <th>SSC GPA</th>
                <th>HSC GPA</th>
                <th>Group</th>
                <th>Application Date</th>
                <th>Payment Status</th>
                <th>Transaction Id</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>#</th>
                <th>Applicant Id</th>
                <th>Applicant Name</th>
                <th>SSC GPA</th>
                <th>HSC GPA</th>
                <th>Group</th>
                <th>Application Date</th>
                <th>Payment Status</th>
                <th>Transaction Id</th>
            </tr>
            </tfoot>
            <tbody>
            <tr th:each="applicant, itr: ${applicantList}">
                <td th:text="${itr.count}"></td>
                <td th:text="${applicant.applicationId}"></td>
                <td><a href="" th:href="@{/admin/applicant-details(studentId=${applicant.studentInfo.id})}" th:target="_blank" th:text="${applicant.studentInfo.name}"></a></td>
                <td th:text="${applicant.studentInfo.sscGPA}"></td>
                <td th:text="${applicant.studentInfo.hscGPA}"></td>
                <td th:text="${applicant.studentInfo.hscGroup}"></td>
                <td th:text="${applicant.applicationDate}"></td>
                <td class="text-center">
                    <span class="badge alert-danger" th:text="'DUE'" th:if="${applicant.paid == null}" ></span>
                    <span class="badge alert-success" th:text="'PAID'"th:if="${applicant.paid != null}" ></span>
                </td>
                <td th:text="${applicant.tranxId ?: ''}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="layout::layout_footer">
</footer>

</body>
</html>