html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 8rem;
    margin-bottom: 160px;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #317eac;
    border-bottom: 8px solid #3498db;
    width: 50px;
    height: 50px;
    margin: -75px 0 0 -75px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 135px;
    padding-top: 20px;
}

.page-footer-body {
    margin-top: 10px;
    color: #fff;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

#nav-brand-image {
    height: 1.5em;
    width: 1.5em;
}

.nav-item {
    color: #fff !important;
}

.nav-item:hover, .active>a:hover {
    color: #cdcec7 !important;
}

.active > a {
    background-color: #B3B6B7 !important;
}

.bg-color-primary {
    background: #317eac;
    color: #fff;
}

.bg-color-red {
    background-color: #f00;
    color: #fff;
}

.bg-color-green {
    background-color: #0ba50b;
    color: #ffffff;
}

.bold {
    font-weight: bold;
}

.color-red {
    color: #f00;
}

.status-text {
    padding: 3px;
    border-radius: 3px;
}

.text-btn {
    background: #ffffff;
    border: none;
}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}
